.popup__title {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    max-width: 330px;
    padding-bottom: 54px;
    margin: 0;
}

@media screen and (max-width: 699px) {
    .popup__title {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 75px;
    }
}