.profile__add-button {
    padding: 14px 64px;
    height: 50px;
    width: 150px;
    border: 2px solid #fff;
    border-radius: 2px;
    background-image: url(../../../images/add_button.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}

.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}