.profile__name {
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0;
    padding-right: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 294px;
}

@media screen and (max-width: 799px) {
    .profile__name {
        font-size: 35px;
        max-width: 189px;
    }
}

@media screen and (max-width: 699px) {
    .profile__name {
        font-weight: 500;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        padding-right: 10px;
    }
}