.popup__save-button {
    padding: 14px 124px 18px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 18px;
}

.popup__save-button:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

@media screen and (max-width: 699px) {
    .popup__save-button {
        padding: 14px 82px;
        font-size: 14px;
        line-height: 17px;
    }
}