.elements__like-button {
    height: 19px;
    width: 22px;
    background-image: url(../../../images/like_button.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    border: none;
    padding: 0;
}

.elements__like-button:hover {
    opacity: 0.6;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}