.profile__edin-button {
    height: 24px;
    width: 24px;
    padding: 0;
    background-image: url(../../../images/edit_button.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #fff;
    box-sizing: border-box;
}

.profile__edin-button:hover {
    opacity: 0.6;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

@media screen and (max-width: 699px) {
    .profile__edin-button {
        height: 18px;
        width: 18px;
    }
}